body {
  background-image: url("../images/intersection.png");
}

.navbar-default .navbar-brand {
  background-color: #4aaaa5;
  color: #ffffff;
}

.navbar-default .navbar-brand:hover {
  background-color: #4aaaa5;
  color: #ffffff;
}

.logoName,
.mainTitle,
.connectTitle {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
}

.mainTitle,
.connectTitle {
  color: #4aaaa5;
}

.connectTitle {
  text-align: center;
  margin-top: 10px;
}

.connectBox {
  margin-bottom: 100px;
}

.mainTitle {
  margin-top: 18px;
}

.aboutText {
  line-height: 2;
}

.miaFace {
  margin: 0 auto;
}

.icons {
  padding: 0;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}


#stack {
  height: 102px;
  width: 105px;
  bottom: 14px;
  margin-left: 5px;
}

#github,
#linkedin {
  bottom: 20px;
}

.portfolioBox {
  margin-bottom: 75px;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  position: relative;
  border: 0 none;
  box-shadow: none;
}

.thumbnail .caption {
  position: absolute;
  top: 75%;
  left: 4px;
  width: 98%;
  color: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 25px;
  background-color: #4aaaa5;
}

.contactBox {
  line-height: 1.5;
}

.footer {
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  line-height: 30px;
  text-align: center;
  background-color: #666666;
  color: #D3D3D3;
}

@media only screen and (max-width: 1200px) {

  #stack {
    height: 82px;
    width: 80px;
    bottom: 15px;
    margin-left: 5px;
  }

  .thumbnail .caption {
    top: 70%;
    width: 97.3%;
  }

}

@media only screen and (max-width: 992px) {

  #stack {
    height: 100px;
    width: 105px;
    bottom: 14px;
    margin-left: 5px;
  }

  #github,
  #linkedin {
    height: 110px;
    width: 110px;
    bottom: 20px;
  }

  .thumbnail .caption {
    top: 80%;
    width: 99%;
  }

  .aboutText {
    margin-top: 10px;
  }

  .miaFace {
    width: 100%;
    height: 100%;
  }

}

@media only screen and (max-width: 768px) {

  .thumbnail .caption {
    width: 98.8%;
  }

  #github,
  #linkedin {
    height: 60px;
    width: 60px;
  }

  #stack {
    height: 55px;
    width: 55px;
    bottom: 17px;
  }

}
